<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='configuration'">
	<head> 
	    <title>Correlations</title> 
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	    <script src="/d3.v4.min.js"></script>
	    <link rel="stylesheet" href="/chart/radial.css" />
	    <script src="/chart/radial.js"></script>
	</head>
	
	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/study/all">Configure Studies</a></li>
			<li th:text="${study.studyName} + ' Correlations'"/>
		</ul>
	</div>

    <!-- Content -->
    <div layout:fragment="page_content" id="page_content">
    
    	<a th:href="@{/admin/study/bivariates(study_id=${study.studyId})}">Bivariate Checks</a> |
    	<strong>Explore Correlations</strong>
    
    	<h3>Correlated Continuous Variables</h3>
    
    	<div id="chart"/>
    	
    	<div id="dialog">
    		<h3 id="h_field"/>
    		<h4>Select Correlated Fields for Bivariate Checks</h4>
    		<form>
    			<input type="hidden" id="source_field_instance_id" name="source_field_instance_id"/>
    			<div id="fields_2"/>
    		</form>
    	</div>
    
    </div>

	<!-- Scripts -->
	<th:block layout:fragment="scripts">

		<script th:inline="javascript">
			const studyId = [[${study.studyId}]];
		</script>
	</th:block>

</html>