.page-header {
	width: 800px;
	margin: 0 auto;
	background-color: #4caf50;
	color: white;
	font-size: 28px;
	padding: 10px 0px 10px 10px;
}

#breadcrumbs {
	width: 810px;
	margin: 0 auto;
	text-align: left;
	padding: 10px 0px 0px 0px;
}

#content {
	width: 810px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

table.wide {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #d3d3d3;
	/*margin: auto;*/
}

table.wide th, table.wide td {
	border: 1px solid #d3d3d3;
}

table.wide th, table.wide td {
	padding: 5px;
}

table.wide tr:nth-child(even) {
	background-color: #f2f2f2;
}

.attention {
	color: red;
	font-weight: bold;
}