<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='anomalies'">
      
	<!-- Title -->
	<head> 
	    <title>RhoVer Anomaly Table</title> 
	</head>

	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/anomaly/global_summary">All Anomalies</a></li>
			<li><a th:href="@{/anomaly/study_summary(study_id=${dataset.study.studyId})}" th:text="${dataset.study.studyName}"/></li>
			<li><a th:href="@{/anomaly/dataset_summary(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/></li>
			<li>
				<span th:text="${fieldInstance1.field.displayName}"/> X
				<span th:text="${fieldInstance2.field.displayName}"/>
			</li>
		</ul>
	</div>
	
	<!-- Content -->
	<div layout:fragment="page_content" id="page_content">
   	
   		<table class="wide">
   			<tr>
   				<th th:text="${study.subjectField.displayName}"/>
   				<th th:text="${study.siteField.displayName}"/>
   				<th th:text="${study.phaseField.displayName}"/>
   				<th th:text="${study.recordIdField.displayName}"/>
   				<th th:text="${fieldInstance1.field.displayName}"/>
   				<th th:text="${fieldInstance1.field.displayName}"/>
   			</tr>
   			<tr th:each="anomaly : ${anomalies}">
   			<td th:text="${anomaly.subjectName}"/>
   				<td th:text="${anomaly.siteName}"/>
   				<td th:text="${anomaly.phaseName}"/>
   				<td th:text="${anomaly.recordId}"/>
   				<td th:text="${anomaly.anomalousValue1}" class="attention"/>
   				<td th:text="${anomaly.anomalousValue2}" class="attention"/>
   			</tr>
   		</table>
   	</div>
 </html>