.dataPoint {
    fill: steelBlue;
}

line {
    stroke: black;
    stroke-width: 2;
}

rect.surgery {
    fill: blue;
}

rect.blood {
    fill: red;
}

rect.RNA {
    fill: green;
}

rect.biopsy {
	fill: blue;
}

rect.labs {
    fill: red;
}

text {
    font-size: 10pt;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text.errorMsg {
	font: 14px sans-serif;
	fill: red;
}