.dataPoint {
    fill: steelBlue;
}

line {
    stroke: black;
    stroke-width: 2;
}

rect.blood {
	fill: white;
    stroke: red;
    stroke-width: 2;
}

rect.blood-selected {
	fill: red;
    stroke: red;
    stroke-width: 2;
}

rect.RNA {
	fill: white;
    stroke: green;
    stroke-width: 2;
}

rect.RNA-selected {
	fill: green;
    stroke: green;
    stroke-width: 2;
}

rect.DNA {
	fill: white;
	stroke: orange;
	stroke-width: 2;
}

rect.DNA-selected {
	fill: orange;
	stroke: orange;
	stroke-width: 2;
}

rect.biopsy {
	fill: white;
	stroke: blue;
	stroke-width: 2;
}

rect.biopsy-selected {
	fill: blue;
	stroke: blue;
	stroke-width: 2;
}

text.subject-label {
    font-size: 10pt;
	text-anchor: end;
}

text.legend {
	font-size: 11pt;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
	font-size: 11pt;
}

text.errorMsg {
	font: 14px sans-serif;
	fill: red;
}