.plot-bg {
	fill: #cccccc;
	cursor: crosshair;
}

text.invisible {
	color: white;
}

.track-bg {
	fill: white;
	cursor: crosshair;
}

line {
    stroke: black;
    stroke-width: 2;
}

.time-interval-line {
	stroke: red;
	stroke-width: 1;
	stroke-dasharray: 10,10;
}

rect.blood {
	fill: white;
    stroke: red;
    stroke-width: 2;
	cursor: pointer;
}

rect.blood-selected {
	fill: red;
    stroke: red;
    stroke-width: 2;
	cursor: pointer;
}

rect.all-specimen-types {
	fill: white;
    stroke: black;
    stroke-width: 2;
	cursor: pointer;
}

rect.all-specimen-types-selected {
	fill: black;
    stroke: black;
    stroke-width: 2;
	cursor: pointer;
}

rect.RNA {
	fill: white;
    stroke: green;
    stroke-width: 2;
	cursor: pointer;
}

rect.RNA-selected {
	fill: green;
    stroke: green;
    stroke-width: 2;
	cursor: pointer;
}

rect.DNA {
	fill: white;
	stroke: orange;
	stroke-width: 2;
	cursor: pointer;
}

rect.DNA-selected {
	fill: orange;
	stroke: orange;
	stroke-width: 2;
	cursor: pointer;
}

rect.biopsy {
	fill: white;
	stroke: blue;
	stroke-width: 2;
	cursor: pointer;
}

rect.biopsy-selected {
	fill: blue;
	stroke: blue;
	stroke-width: 2;
	cursor: pointer;
}

text.subject-label {
    font-size: 10pt;
}

text.visit-label {
    font-size: 10pt;
	text-anchor: middle;
}

.legend-border {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

text.legend {
	font-size: 11pt;
}

text.legend-link {
	font-size: 11pt;
	fill: blue;
	cursor: pointer;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
	font-size: 11pt;
}

.error-msg {
	color: red;
}

.section-background {
	fill: #00aa00;
	fill-opacity: 0.5;
}