<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/" class="active-menu-item">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all">Configuration</a></li>
		</ul>
	</div>
	
    <div class="content-left-align">
    	<div style="position: relative; left: 10%; top: 10px;">
	    	<h3>RhoVer Prototype will Include</h3>
	    	<ul class="paws">
	    		<li>At least 3 data checks</li>
	    		<li>At least 3 studies</li>
	    		<li>Traditional listings and interactive charts for anomalies</li>
	    		<li>GUI-based configuration of new studies</li>
	    		<li>GUI-based configuration of checks</li>
	    		<li>Labeling of anomalies</li>
	    		<li>Auditing and traceability of all changes caused by user action or data changes</li>
	    		<li>Scheduled and on-demand execution of checks</li>
	    		<li>Basic log-on</li>
	    	</ul>
	    	
	    	<h3>Out of Scope for Prototype</h3>
	    	<ul>
	    		<li>Full quiver of data checks</li>
	    		<li>Fine-grained permissions</li>
	    		<li>Robust error handling</li>
	    		<li>System monitoring tools</li>
	    		<li>User notifications</li>
	    		<li>Polished user interface</li>
	    	</ul>
   		</div>
    </div>
</body>
</html>
