<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='anomalies'">
      
	<head>
		<title>RhoVer Test UI</title>
	</head>
	     
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>Home</li>
			<li><a href="#">Anomalies</a></li>
			<li>Study Anomalies</li>
		</ul>
	</div>
	      
	<div layout:fragment="page_content" id="page_content">
		Hello world!
	</div>
</html>