<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Data Fields</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies" class="active-menu-item">Browse by Study</a></li>
			<li><a href="#">Browse by Key Variable</a></li>
			<li><a href="#">Search</a></li>
		</ul>
	</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Browse by Study</a> >
		<a th:href="@{/browse/datasets(study_id=${dataset.study.studyId})}"><span th:text="${dataset.study.studyName}"/></a> >
		<strong><span th:text="${dataset.datasetName}"/></strong>
	</div>
		
    <div id="content">
    	<h2>Univeriate Outliers</h2>
   		<table class="wide">
   			<tr>
   				<th><span th:text="${dataset.datasetName}"/> Field</th>
   				<th>Unviewed</th>
   				<th>Total</th>
   				<th>View</th>
   			</tr>
   			<tr th:each="summary : ${summaries}">
   				<td>
   					<span th:text="${summary.entityName}"/>
   				</td>
   				<td>
   					<span th:class="${summary.numUnviewedAnomalies} > 0? attention : plain" th:text="${summary.numUnviewedAnomalies}"/>
   				</td>
   				<td>
   					<span th:text="${summary.numAnomalies}"/>
   				</td>
   				<td>
   					<a th:href="@{/anomaly/table(data_field_id=${summary.entityId})}">Table</a> |
   					<a th:href="@{/anomaly/beeswarm(data_field_id=${summary.entityId})}">Beeswarm</a> |
   					<a th:href="@{/anomaly/boxplot(data_field_id=${summary.entityId})}">Boxplot</a>
   				</td>
   			</tr>
   		</table>
   		<div th:if="${not #lists.isEmpty(bivariate_checks)}">
   			<h2>Bivariate Outliers</h2>
   			<table class="wide">
   				<tr>
   					<th>Field 1</th>
   					<th>Field 2</th>
   					<th>View</th>
   				</tr>
   				<tr th:each="check : ${bivariate_checks}">
   					<td th:text="${check.dataField1}"/>
   					<td th:text="${check.dataField2}"/>
   					<td>
   						<a th:href="@{/anomaly/scatter_plot(bivariate_check_id=${check.bivariateCheckId})}">Scatter Plot</a>
   					</td>
   				</tr>
   			</table>
   		</div>
    </div>
</body>
</html>