<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Data Fields</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies" class="active-menu-item">Browse</a></li>
			<li><a href="/search/form">Search</a></li>
		</ul>
	</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Studies</a>
		>
		<span th:if="${site == null and subject == null}">
			<a th:href="@{/browse/datasets(study_id=${dataset.study.studyId})}" th:text="${dataset.study.studyName}"/>
		</span>
		<span th:if="${site}">
			<a th:href="@{/browse/sites(study_id=${site.study.studyId})}" th:text="${site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(site_id=${site.siteId})}" th:text="'Site ' + ${site.siteName}"/>
		</span>
		>
		<strong><span th:text="${dataset.datasetName}"/></strong>
	</div>
		
    <div id="content">
    	<h2>Univeriate Outliers</h2>
   		<table class="wide">
   			<tr>
   				<th>Label</th>
   				<th th:if="${site == null and subject == null}" th:text="'Total ' + ${dataset.study.studyName} + ' Anomalies'"/>
   				<th th:if="${site}" th:text="'Site ' + ${site.siteName} + ' Anomalies'"/>
   				<th>View</th>
   			</tr>
   			<tr th:each="summary : ${summaries}">
   				<td>
   					<span th:text="${summary.entityName}"/>
   				</td>
   				<td>
   					<span th:text="${summary.numAnomalies}"/>
   					<span th:if="${summary.numUnviewedAnomalies > 0}">
   						&nbsp; (<span class="attention" th:text="${summary.numUnviewedAnomalies}"/> unviewed)
   					</span>
   				</td>
   				<td>
   					<a th:href="@{/anomaly/table(data_field_id=${summary.entityId})}">Table</a>
   					|
   					<a th:if="${site == null}" th:href="@{/anomaly/beeswarm(data_field_id=${summary.entityId})}">Beeswarm</a>
   					<a th:if="${site}" th:href="@{/anomaly/beeswarm(data_field_id=${summary.entityId}, site_id=${site.siteId})}">Beeswarm</a>
   					|
   					<a th:href="@{/anomaly/boxplot(data_field_id=${summary.entityId})}">Boxplot</a>
   				</td>
   			</tr>
   		</table>
   		<div th:if="${not #lists.isEmpty(bivariate_checks)}">
   			<h2>Bivariate Outliers</h2>
   			<table class="wide">
   				<tr>
   					<th colspan="2">Field 1</th>
   					<th colspan="2">Field 2</th>
   					<th/>
   				</tr>
   				<tr>
   					<th>Dataset</th>
   					<th>Label</th>
   					<th>Dataset</th>
   					<th>Label</th>
   					<th>View</th>
   				</tr>
   				<tr th:each="check : ${bivariate_checks}">
   					<td th:text="${check.dataset1.datasetName}"/>
   					<td th:text="${check.dataField1}"/>
   					<td th:text="${check.dataset2.datasetName}"/>
   					<td th:text="${check.dataField2}"/>
   					<td>
   						<a th:href="@{/anomaly/scatterplot(bivariate_check_id=${check.bivariateCheckId})}">Scatter Plot</a>
   					</td>
   				</tr>
   			</table>
   		</div>
    </div>
</body>
</html>