<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Sites</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies" class="active-menu-item">Browse</a></li>
			<li><a href="#">Search</a></li>
		</ul>
	</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Browse</a> >
		<strong><span th:text="${study.studyName}"/></strong>
	</div>
    <div id="content">
   		<table class="wide">
   			<tr>
   				<th>Site</th>
   				<th>Un-Viewed Anomalies</th>
   				<th>Total Anomalies</th>
   			</tr>
   			<tr th:each="summary : ${summaries}">
   				<td><a th:href="@{/browse/data_fields(dataset_id=${summary.entityId})}"
   					th:text="${summary.entityName}"/></td>
   				<td th:class="${summary.numUnviewedAnomalies} > 0? attention : plain" th:text="${summary.numUnviewedAnomalies}"/>
   				<td th:text="${summary.numAnomalies}"/>
   			</tr>
   		</table>
    </div>
</body>
</html>