<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='configuration'">
	<head> 
	    <title>Bivariate Checks</title> 
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	    <script src="/d3.v4.min.js"></script>
	    <script src="/page/all_bivariates.js"></script>
	</head>
	
	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/study/all">Configure Studies</a></li>
			<li th:text="${study.studyName} + ' Bivariate Checks'"/>
		</ul>
	</div>

	<!-- Content -->
    <div layout:fragment="page_content" id="page_content">
    
    	<strong><a th:href="@{/admin/study/bivariates(study_id=${study.studyId})}">Bivariate Checks</a></strong> |
    	<a th:href="@{/admin/study/correlations(study_id=${study.studyId})}">Explore Correlations</a>
    	
    	<div th:if="${duplicates}" class="message_box">
    		The following duplicate checks were not saved:
    		<ul>
    			<li th:each="duplicate : ${duplicates}" th:text="${duplicate}"/>
    		</ul>
    	</div>
    	
    	<p>
	    	<table class="wide">
	    		<tr>
	    			<th/>
	    			<th>First Variable</th>
	    			<th>Second Variable</th>
	    			<th>Parameters</th>
	    		</tr>
	    		<tr th:each="check : ${checks}" th:id="'tr_' + ${check.bivariateCheckId}"
	    			th:attr="data-bivariate_check_id=${check.bivariateCheckId}">
	    			<td>
	    				<input type="checkbox" class="cb_select" th:attr="data-bivariate_check_id=${check.bivariateCheckId}"/>
	    			</td>
	    			<td align="left" th:text="${check.xFieldInstance.field.veryTruncatedDisplayName}"/>
	    			<td align="left" th:text="${check.yFieldInstance.field.veryTruncatedDisplayName}"/>
	    			<td align="left" style="line-height: 150%" th:id="'td_' + ${check.bivariateCheckId}">
	    			
	    				<!--  "Use defaults" checkbox -->
    					<input type="checkbox" th:attr="data-bivariate_check_id=${check.bivariateCheckId}"
    						th:checked="${check.checkParams.empty}" class="cb_defaults"/>
    					Use defaults
    					
    					<!-- Param value text inputs -->
    					<div th:if="${not check.checkParams.empty}" th:id="'div_' + ${check.bivariateCheckId}">
    						<input type='text' size='3' title='Standard deviations from the regression line'
    							th:value="${check.checkParams.get('sd-residual').paramValue}"
    							class="sd-residual"/> STDEV from reg. line<br/>
    						<input type='text' size='3' title='Standard deviations from mean distance to neighbors'
    							th:value="${check.checkParams.get('sd-density').paramValue}"
    							class="sd-density"/> STDEV below mean density
    					</div>
	    			</td>
	    		</tr>
	    	</table>
    	</p>
    	<p>
    		<button type="button" id="button_delete" disabled="true">Delete Selected</button>
    		<button type="button" id="button_save" disabled="true">Save Changes</button>
    		<button type="button" id="button_add">Add Checks</button>
    	</p>
    	
    </div>
    
    <!-- Scripts -->
	<th:block layout:fragment="scripts">
		<script th:inline="javascript">
		
			const studyId = [[${study.studyId}]];
			
			$("#button_add").click(function() {
				const url = "/admin/study/add_bivariate?study_id=" + studyId;
				document.location.href = url;
			});
		
		</script>
	</th:block>
</html>