<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Administer Studies</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
    <script src="/jquery-3.2.1.min.js"></script>
    
    <script>
    	function onAddStudy() {
    		document.location.href = "/admin/study/new_study";
    	}
    	
    	$(function() {
    		$(".check-runner").click(function() {
    			const studyId = this.dataset.study_id;
    			const url = "/rest/admin/study/check_study?study_id=" + studyId;
    			$.get(url)
    				.done(function() {
    					console.log("All done");
    				})
    				.fail(function() {
    					console.log("There was a problem");
    				});
    		});
    	});
    </script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
		
    <div id="content">
   		<h2>Studies</h2>
   		<table class="wide">
   			<tr>
   				<th>Study</th>
   				<th>View/Edit</th>
   				<th></th>
   			</tr>
   			<tr th:each="study : ${studies}">
   				<td th:text="${study.studyName}"/>
   				<td>
   					<a th:href="@{/admin/study/data_locations(study_id=${study.studyId})}">Data Folders</a> |
   					<a th:href="@{/admin/study/identifying_fields(study_id=${study.studyId})}">Identifiers</a> |
   					<a th:href="@{/admin/study/study_univariate(study_id=${study.studyId})}">Univariate</a> |
   					<a th:href="@{/admin/study/correlations(study_id=${study.studyId})}">Bivariate</a>
   				</td>
   				<td>
   					<button type="button" class="check-runner" th:id="'button_' + ${study.studyId}" th:attr="data-study_id=${study.studyId}">Run Checks</button>
   				</td>
   			</tr>
   		</table>
   		<p>
 			<button type="button" onclick="onAddStudy()">Add Study</button>
 		</p>
    </div>
</body>
</html>
