<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Add Bivariate Check</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/d3.v4.min.js"></script>
    <script src="/all_bivariates.js"></script>
    <link rel="stylesheet" href="/radial.css" />
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
	
    <div id="content">
    
        <a th:href="@{/admin/study/correlations(study_id=${study_id})}">Explore Correlations</a> |
    	<strong>Bivariate Checks</strong>
    	
    	<div th:if="${duplicates}" class="message_box">
    		The following duplicate checks were not saved:
    		<ul>
    			<li th:each="duplicate : ${duplicates}" th:text="${duplicate}"/>
    		</ul>
    	</div>
    	
    	<p>
	    	<table class="wide">
	    		<tr>
	    			<th/>
	    			<th>First Variable</th>
	    			<th>Second Variable</th>
	    			<th>Parameters</th>
	    		</tr>
	    		<tr th:each="check : ${checks}">
	    			<td>
	    				<input type="checkbox" class="cb_select" th:attr="data-bivariate_check_id=${check.bivariateCheckId}"/>
	    			</td>
	    			<td align="left" th:text="${check.xFieldInstance.field.veryTruncatedDisplayName}"/>
	    			<td align="left" th:text="${check.yFieldInstance.field.veryTruncatedDisplayName}"/>
	    			<td align="left" style="line-height: 150%" th:id="'td_' + ${check.bivariateCheckId}" class="edited">
    					<input type="checkbox" th:attr="data-bivariate_check_id=${check.bivariateCheckId}"
    						th:checked="${#lists.isEmpty(check.checkParams)}" class="cb_defaults"/>
    					Use defaults
	    			</td>
	    		</tr>
	    	</table>
    	</p>
    	<p>
    		<button type="button" id="button_delete" disabled="true">Delete Selected</button>
    		<button type="button" id="button_add">Add Checks</button>
    	</p>
    	
    </div>
</body>

<script th:inline="javascript">

	const studyId = [[${study_id}]];
	
	$("#button_add").click(function() {
		const url = "/admin/study/add_bivariate?study_id=" + studyId;
		document.location.href = url;
	});

</script>
</html>