<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Administer Studies</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    
    <script>
    	function onAddStudy() {
    		document.location.href = "/admin/study/new_study";
    	}
    </script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Browse</a></li>
			<li><a href="/search/form">Search</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Admin</a></li>
		</ul>
	</div>
		
    <div id="content">
   		<h2>Studies</h2>
   		<table class="wide">
   			<tr>
   				<th>Study</th>
   				<th>View/Edit</th>
   			</tr>
   			<tr th:each="study : ${studies}">
   				<td th:text="${study.studyName}"/>
   				<td>
   					<a href="#">Study Properties</a> |
   					<a th:href="@{/admin/study/data_locations(study_id=${study.studyId})}">Data Folders</a> |
   					<a th:href="@{/admin/study/identifying_fields(study_id=${study.studyId})}">Identifying Variables</a> |
   					<a th:href="@{/admin/study/study_checks(study_id=${study.studyId})}">Data Check Params</a> |
   					<a th:href="@{/admin/study/anomaly_settings(study_id=${study.studyId})}">Anomaly Settings</a>
   				</td>
   			</tr>
   		</table>
   		<p>
 			<button type="button" onclick="onAddStudy()">Add Study</button>
 		</p>
    </div>
</body>
</html>
