<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Add Bivariate Check</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/d3.v4.min.js"></script>
    <link rel="stylesheet" href="/radial.css" />
    <script src="/radial.js"></script>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
	
    <div id="content">
    
    	<strong>Explore Correlations</strong> |
    	<a href="#">Add Checks to Any Field</a> |
    	<a href="#">Set Parameters</a>
    
    	<h3>Correlated Continuous Variables</h3>
    
    	<div id="chart"/>
    	
    	<div id="dialog">
    		<h3 id="h_field"/>
    		<h4>Select Correlated Fields for Bivariate Checks</h4>
    		<form>
    			<input type="hidden" id="source_field_instance_id" name="source_field_instance_id"/>
    			<div id="fields_2"/>
    		</form>
    	</div>
    
    </div>
</body>

<script th:inline="javascript">
	const studyId = [[${study.studyId}]];
</script>

</html>