<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='configuration'">
	<head> 
	    <title>RhoVer Edit Study</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="/rhover.css"/>
	    <script src="/jquery-3.2.1.min.js"></script>
	</head>
	
	
	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/study/all">Configure Studies</a></li>
			<li th:text="${study.studyName} + ' Data Locations'"/>
		</ul>
	</div>
	
	
    <div layout:fragment="page_content" id="page_content">
    	<div th:if="${message}" class="message_box" th:text="${message}"/>
    
    	<div th:if="${not #lists.isEmpty(study.dataLocations)}">
    		<h3>Data Locations</h3>
	   		<table class="wide">
	   			<tr>
	   				<th>File Folder</th>
	   				<th>SAS Files</th>
	   				<th>CSV Files</th>
	   			</tr>
	   			<tr th:each="dataLocation : ${study.dataLocations}">
	   				<td th:text="${dataLocation.folderPath}"/>
	   				<td>
	   					<span th:if="${dataLocation.includeSasFiles}">YES</span>
	   					<span th:if="not ${dataLocation.includeSasFiles}">no</span>
	   				</td>
	   				<td>
	   					<span th:if="${dataLocation.includeCsvFiles}">YES</span>
	   					<span th:if="not ${dataLocation.includeCsvFiles}">no</span>
	   				</td>
	   			</tr>
	   		</table>
	   	</div>
	   	
	   	<h4>--- Add new data folder ---</h4>
	   	<form action="/admin/study/add_data_folder" method="post">
	   		<input type="hidden" name="study_id" th:value="${study.studyId}"/>
	   		<table class="invisible">
	   			<tr>
	   				<td align="right">Folder Path</td>
	   				<td align="left">
	   					<input type="text" name="folder_path" id="text_folder_path" size="60"/>
	   				</td>
	   			</tr>
	   			<tr>
	   				<td/>
	   				<td align="left">
	   					<input type="checkbox" name="include_sas" checked="true"/>
	   					Include SAS files
	   				</td>
	   			</tr>
	   			<tr>
	   				<td/>
	   				<td align="left">
	   					<input type="checkbox" name="include_csv" checked="true"/>
	   					Include CSV files
	   				</td>
	   			</tr>
	   		</table>
	   		<p>
	 			<button type="button" id="button_submit">Add</button>
	 			&nbsp; &nbsp;
	 			<button type="button" onclick="onDone()">Done</button>
	 		</p>
 		</form>
    </div>

	<!-- Scripts -->
	<th:block layout:fragment="scripts">
	 	<script>
	    	function onDone() {
	    		document.location.href = "/admin/study/all";
	    	}
	    	
	    	// Submit button clicked
	    	$(function() {
	    		$("#button_submit").click(function() {
	    			
	    			// Convert all back-slashes for forward-slashes in folder path field
	    			const oldValue = $("#text_folder_path").val();
	    			const newValue = oldValue.replace(/\\/g, "/");
	    			$("#text_folder_path").val(newValue);
	    			
	    			// Submit form
	    			$("form").submit();
	    		});
	    	});
	    </script>
	</th:block>
</html>
