<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Edit Study</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <script src="/jquery-3.2.1.min.js"></script>
    
    <script>
    	function onDone() {
    		document.location.href = "/admin/study/all";
    	}
    	
    	// Submit button clicked
    	$(function() {
    		$("#button_submit").click(function() {
    			
    			// Convert all back-slashes for forward-slashes in folder path field
    			const oldValue = $("#text_folder_path").val();
    			const newValue = oldValue.replace(/\\/g, "/");
    			$("#text_folder_path").val(newValue);
    			
    			// Submit form
    			$("form").submit();
    		});
    	});
    </script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
	
	<div id="breadcrumbs">
		<a href="/admin/study/all">Studies</a>
		>
		<bold><span th:text="${study.studyName}"/></bold>
	</div>
		
    <div id="content">
    	<div th:if="${message}" class="message_box" th:text="${message}"/>
    
    	<div th:if="${not #lists.isEmpty(study.dataLocations)}">
	   		<table class="wide">
	   			<tr>
	   				<th>Data Folders</th>
	   			</tr>
	   			<tr th:each="dataLocation : ${study.dataLocations}">
	   				<td>
	   					<span th:text="${dataLocation.folderPath}"/>
	   					&nbsp;&nbsp;
	   					[
	   					<span th:if="${dataLocation.includeSasFiles}">SAS: YES</span>
	   					<span th:if="not ${dataLocation.includeSasFiles}">SAS: NO</span>
	   					|
	   					<span th:if="${dataLocation.includeCsvFiles}">CSV: YES</span>
	   					<span th:if="not ${dataLocation.includeCsvFiles}">CSV: NO</span>
	   					]
	   				</td>
	   			</tr>
	   		</table>
	   	</div>
	   	<h3>Add New Data Folder</h3>
	   	<form action="/admin/study/add_data_folder" method="post">
	   		<input type="hidden" name="study_id" th:value="${study.studyId}"/>
	   		<table class="invisible">
	   			<tr>
	   				<td align="right">Folder Path</td>
	   				<td align="left">
	   					<input type="text" name="folder_path" id="text_folder_path" size="60"/>
	   				</td>
	   			</tr>
	   			<tr>
	   				<td/>
	   				<td align="left">
	   					<input type="checkbox" name="include_sas" checked="true"/>
	   					Include SAS files
	   				</td>
	   			</tr>
	   			<tr>
	   				<td/>
	   				<td align="left">
	   					<input type="checkbox" name="include_csv" checked="true"/>
	   					Include CSV files
	   				</td>
	   			</tr>
	   		</table>
	   		<p>
	 			<button type="button" id="button_submit">Add</button>
	 			&nbsp; &nbsp;
	 			<button type="button" onclick="onDone()">Done</button>
	 		</p>
 		</form>
    </div>
</body>
</html>
