<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Add Bivariate Check</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/d3.v4.min.js"></script>
    <script src="/new_bivariate.js"></script>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
    
    <script th:inline="javascript">
		const studyId = [[${study_id}]];
	</script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
	
    <div id="content">
    
        <a th:href="@{/admin/study/correlations(study_id=${study_id})}">Explore Correlations</a> |
    	<strong>Bivariate Checks</strong>
    
    	<form action="/admin/study/save_bivariate" method="post">
    		<h3>Step 1: Select First Variable</h3>
   			<table class="invisible">
   				<tr id="tr_browse_x">
   					<td>Browse</td>
   					<td align="left">
    					<select id="select_dataset_x">
			    			<option value="0">---Select Dataset---</option>
			    			<option th:each="dataset : ${datasets}" th:value="${dataset.datasetId}"
			    				th:text="${dataset.datasetName}"/>
			    		</select>
			    		
			    		<select id="select_variable_x" name="variable_x">
			    			<option value="0">---Select Variable---</option>
			    		</select>
   					</td>
   				</tr>
   				<tr id="tr_search_x">
   					<td>Search</td>
   					<td align="left">
   						<input type="text" id="text_search_x" size="40"/>
   						<button type="button" id="button_search_x">OK</button>
   					</td>
   				</tr>
   			</table>

			<h3>Step 2: Select Second Variable(s)</h3>
    		<p>
    			<table class="invisible">
    				<tr id="tr_browse_y">
    					<td valign="top" align="right">Browse All</td>
    					<td valign="top" align="left">
	    					<select id="select_dataset_y" name="dataset_y">
				    			<option value="0">---Select Dataset---</option>
				    			<option th:each="dataset : ${datasets}" th:value="${dataset.datasetId}"
				    				th:text="${dataset.datasetName}"/>
				    		</select>
    					</td>
    					<td id="td_variable_y" align="left" valign="top"/>
    				</tr>
    				<tr id="tr_correlated">
    					<td align="right" id="td_correlated_label">Browse Correlated</td>
    					<td align="left" id="td_correlated">
    						<button type="button" id="button_correlated" disabled="true">Show Correlated Variables</button>
    					</td>
    					<td/>
    				</tr>
    				<tr id="tr_search_y">
    					<td align="right">Search</td>
    					<td align="left">
	    					<input type="text" id="text_search_y" size="40"/>
	   						<button type="button" id="button_search_y">OK</button>
    					</td>
    					<td/>
    				</tr>
    			</table>
    		</p>
	    	
	    	<h3>Step 3: Set Check Parameters</h3>
	    	<table class="half-wide">
				<tr>
					<th colspan="2" style="background-color: CornflowerBlue; color: white">Parameter</th>
				</tr>
				<tr>
					<td colspan="2">
						<input type="checkbox" id="cb_defaults" name="use_study_defaults" checked="true" /> Use study-level defaults
					</td>
				</tr>
				<tr class="dataset-params deactivated">
					<td>Standard Deviations from Regression Line</td>
					<td style="text-align: left">
						<input type="text" name="param_sd-residual" id="text_sd-residual" class="input-params" size="3"
							disabled="true"/>
					</td>
				</tr>
				<tr class="dataset-params deactivated">
					<td>Standard Deviations from Mean Distance to Neighbors</td>
					<td style="text-align: left">
						<input type="text" name="param_sd-density" id="text_sd-density" class="input-params" size="3"
							disabled="true"/>
					</td>
				</tr>
			</table>
	    	
	    	<h3 class="deactivated" id="h_merge">Step 4: Set Merge Variables</h3>
	    	<div id="div_merge"/>
	    	
	    	<p>
	    		<button type="submit" id="button_submit" disabled="true">Add Check</button>
	    	</p>
    	</form>
    </div>
    
    <div id="dialog_error">
    	<div id="message_error"/>
    </div>
    
    <div id="dialog_progress"/>
    
    <div id="dialog_merge"/>
</body>
</html>