<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Edit Study</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Anomalies</a></li>
			<li><a href="/admin/study/all" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
	
	<div id="breadcrumbs">
		<a href="/admin/study/all">Studies</a>
		>
		<bold>New Study</bold>
	</div>
		
    <div id="content">
   		<form action="/admin/study/save" method="post">
   			<table class="invisible">
	   			<tr>
		   			<td style="text-align:right">Study Name<span class="required_field">*</span></td>
		   			<td><input type="text" name="study_name"/></td>
		   			<td></td>
	   			</tr>
   				<tr>
   					<td style="text-align:right">Name of Data Stream Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="form_field_name"/></td>
   					<td>
   						<img id="img_stream" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each data file that gives the name of the data stream or form.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Site Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="site_field_name"/></td>
   					<td>
   						<img id="img_site" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each data file that gives the study site.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Subect Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="subject_field_name"/></td>
   					<td>
   						<img id="img_subject" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each study that gives the subject ID.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Query File Path</td>
   					<td><input type="text" name="query_file_path"/></td>
   					<td>
   						<img id="img_query" src="/images/info.png" width="25" height="25"
   						title="Absolute path to data file that contains query information. Example: S:/RhoFED/CTOT-SACCC/CTOT/CTOT-08-Abecassis/Stats/Data/Clinical/query.sas7bdat"
   						/>
   					</td>
   				</tr>
   			</table>
   			<p>
   				<span class="required_field">*Required Field</span>
   			</p>
   			<p>
   				<button type="submit">Create Study</button>
   			</p>
   		</form>
    </div>
</body>
<script>
	$("#img_stream").tooltip();
	$("#img_site").tooltip();
	$("#img_subject").tooltip();
	$("#img_query").tooltip();
</script>
</html>
