<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/base"
      th:with="currentPage='configuration'">
	<head> 
	    <title>RhoVer Edit Study</title> 
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	</head>

	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/study/all">Configure Studies</a></li>
			<li>New Study</li>
		</ul>
	</div>
	
    <div layout:fragment="page_content" id="page_content">
   		<form action="/admin/study/save" method="post">
   			<table class="invisible">
	   			<tr>
		   			<td style="text-align:right">Study Name<span class="required_field">*</span></td>
		   			<td><input type="text" name="study_name"/></td>
		   			<td></td>
	   			</tr>
   				<tr>
   					<td style="text-align:right">Name of Data Stream Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="form_field_name"/></td>
   					<td>
   						<img id="img_stream" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each data file that gives the name of the data stream or form.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Site Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="site_field_name"/></td>
   					<td>
   						<img id="img_site" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each data file that gives the study site.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Subject Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="subject_field_name"/></td>
   					<td>
   						<img id="img_subject" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each study that gives the subject ID.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Phase/Event/Visit Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="phase_field_name"/></td>
   					<td>
   						<img id="img_subject" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each study that gives the phase, event, or visit ID.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Name of Record ID Variable<span class="required_field">*</span></td>
   					<td><input type="text" name="record_id_field_name"/></td>
   					<td>
   						<img id="img_subject" src="/images/info.png" width="25" height="25"
   						title="Name of variable in each study that gives the record ID.  Often this is an internal system variable from the EDC system.  Note that this is case sensitive."
   						/>
   					</td>
   				</tr>
   				<tr>
   					<td style="text-align:right">Query File Path</td>
   					<td><input type="text" name="query_file_path"/></td>
   					<td>
   						<img id="img_query" src="/images/info.png" width="25" height="25"
   						title="Absolute path to data file that contains query information. Example: S:/RhoFED/CTOT-SACCC/CTOT/CTOT-08-Abecassis/Stats/Data/Clinical/query.sas7bdat"
   						/>
   					</td>
   				</tr>
   			</table>
   			<p>
   				<span class="required_field">*Required Field</span>
   			</p>
   			<p>
   				<button type="submit">Create Study</button>
   			</p>
   		</form>
    </div>

	<!-- Scripts -->
	<th:block layout:fragment="scripts">
		<script>
			$("#img_stream").tooltip();
			$("#img_site").tooltip();
			$("#img_subject").tooltip();
			$("#img_query").tooltip();
		</script>
	</th:block>
</html>
