<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/base"
      th:with="currentPage='configuration'">
	<head> 
	    <title>RhoVer Univariate Settings</title> 
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	</head>

	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/study/all">Configure Studies</a></li>
			<li th:text="${study.studyName} + ' Univariate Checks'"/>
			<li>Study Level Settings</li>
		</ul>
	</div>
	
    <div layout:fragment="page_content" id="page_content">
    	<p>
    		<strong>Study-Level Settings</strong> |
    		<a th:href="@{/admin/study/dataset_univariate(study_id=${study.studyId})}">Individual Dataset Settings</a>
    	</p>
    	
    	<p th:if="${message}" th:text="${message}" class="message-box-slim"/>
    	
    	<form action="/admin/study/save_study_univariate" method="post">
    	<input type="hidden" id="study_id" name="study_id" th:value="${study.studyId}"/>
    	
		<table class="wide">
			<tr>
				<th colspan="2">Study-Level Defaults</th>
			</tr>
			<tr>
				<td>Run Checks On</td>
				<td style="text-align: left">
					<input type="radio" name="param_data_types" value="numeric" th:checked="${data_types.paramValue} == numeric"/> All numeric variables<br/>
					<input type="radio" name="param_data_types" value="continuous" th:checked="${data_types.paramValue} == continuous"/> Only continuous numeric variables
				</td>
			</tr>
			<tr>
				<td>Minium Number of Data Points</td>
				<td style="text-align: left">
					<input type="text" name="param_min-univariate" size="3" th:value="${min_univariate.paramValue}"/>
				</td>
			</tr>
			<tr>
				<td>Default Outlier Boundary</td>
				<td style="text-align: left">
					<input type="text" name="param_sd" size="3" th:value="${sd.paramValue}"/>&nbsp;&nbsp;
					Standard Deviations from Mean
				</td>
			</tr>
		</table>
		
		<h3>Select Datasets to Check</h3>
		<p>
			<input type="checkbox" id="cball"/>
			<label for="cball">Select All</label>
		</p>
		<div style="column-count: 4; text-align: left; line-height: 40px;">
			<div th:each="datasetVersion : ${dataset_versions}" th:title="${datasetVersion.numericFieldSummary}" class="dataset-selector">
				<input type="checkbox" class="radio-dataset" th:name="'check_dataset-' + ${datasetVersion.dataset.datasetId}"
					th:checked="${datasetVersion.dataset.isChecked}" th:id="'cb-' + ${datasetVersion.dataset.datasetId}"/>
				<label th:for="'cb-' + ${datasetVersion.dataset.datasetId}" th:text="${datasetVersion.dataset.datasetName}" style="width: 175px"/>
			</div>
		</div>
		<p>
			<button type="submit" id="button_save">Save</button>
		</p>
		</form>
   	</div>

	<!-- Scripts -->
	<th:block layout:fragment="scripts">
		<script>
			$(function() {
				$(".radio-dataset").checkboxradio();
				$("#cball").checkboxradio();
				$("#cball").change(function() {
					const isChecked = $("#cball").prop("checked");
					if (isChecked) {
						$(".radio-dataset").prop("checked", true).change();
					}
					else {
						$(".radio-dataset").prop("checked", false).change();
					}
				});
				$(".dataset-selector").tooltip();
			});
		</script>
	</th:block>
</html>
