body {
	width: 1100px;
	margin: 0 auto;
}

.page-header {
	font-size: 28px;
	padding: 10px 0px 10px 10px;
	font-family: Verdana, Geneva, sans-serif;
}

/*
#breadcrumbs {
	text-align: left;
	padding: 10px 0px 0px 0px;
}
*/

#content {
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.content-left-align {
	text-align: left;
	position: relative;
}

table.wide {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #d3d3d3;
}

table.wide th, table.half-wide th {
	color: white;
	background-color: #4CAF50
}

table.wide th, table.wide td {
	border: 1px solid #d3d3d3;
}

table.wide th, table.wide td {
	padding: 5px;
}

table.wide tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.half-wide {
	border-collapse: collapse;
	width: 75%;
	border: 1px solid #d3d3d3;
	margin: auto;
}

table.half-wide th, table.half-wide td {
	border: 1px solid #d3d3d3;
}

table.half-wide th, table.half-wide td {
	padding: 5px;
}

table.half-wide tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.attention {
	color: red;
	font-weight: bold;
}

.inlier {
	stroke: green;
	stroke-width: 1;
	/*fill: none;*/
}

.outlier {
	stroke: red;
	stroke-width: 1;
	/*fill: none;*/
}

.inlier-selected {
	fill: green;
}

.outlier-selected {
	fill: red;
}

.deselected {
	fill: none;
}

.background {
	opacity: 0.2;
}

.select-rect {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.menu-bar {
	background-color: #dddd;
}

.menu-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.menu-bar li {
	float: left;
}

.menu-bar a {
	display: block;
	color: black;
	text-align: center;
	padding: 5px 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

.menu-bar a:hover {
	text-decoration: underline;
}

.active-menu-item {
	/*text-decoration: underline;*/
	background-color: #4caf50;
}

.quartile-box {
	fill: none;
	stroke: black;
	stroke-width: 1;
}

.boxplot-lines {
	stroke: black;
	stroke-width: 2;
}

table.invisible {
	border: none;
	margin: auto;
	border-spacing: 0px;
}

table.invisible tr, td {
	border: none;
	margin: 5px;
	padding: 8px;
}

table.grid {
	border: none;
	margin: auto;
	border-spacing: 0px;
}

table.grid tr, td {
	border: none;
	margin: 1px;
	padding: 1px;
}

.required_field {
	color: red;
}

.message_box {
	padding: 20px;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	color: black;
	margin-bottom: 15px;
	text-align: left;
}

.message-box-slim {
	padding: 10px;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	color: black;
}

.configured-check {
	color: red;
}

.deactivated {
	color: LightGray;
}

.control-group {
	float: left;
	height: 50px;
	/*
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	*/
	border-width: 1px;
}

.vertically-aligned {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

ul.paws {
	list-style-image: url('/images/rover-small.png');
}

img.bg {
	opacity: 0.3;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a.action-link:link,
a.action-link:visited {
	color: #004080;
	text-decoration: none;
}

a.action-link:hover {
	text-decoration: underline;
}

tr.edited {
	color: red;
}

div.filters {
	width: 200px;
	padding: 5px;
	float: left;
}

.input_hint {
	color: LightGray;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	color: black;
}

.filter_button {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	padding: 5px;
	color: black;
	background-color: LightSteelBlue;
	margin: 3px;
}

.highlight_button {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	padding: 5px;
	color: black;
	background-color: RosyBrown;
	margin: 3px;
}

.groupby_button {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	padding: 5px;
	color: black;
	background-color: PaleTurquoise;
	margin: 3px;
}

.filter_label {
	display: flex;
	flex-direction: row;
	padding: 5px;
	color: black;
	margin: 3px;
}

.highlight_button_small {
	flex-direction: row;
	border: 1px solid Gray;
	padding: 3px;
	margin: 3px;
	width: 25px;
}

.highlight_button_small_clicked {
	flex-direction: row;
	border: 1px solid Gray;
	padding: 3px;
	margin: 3px;
	background-color: LightSteelBlue;
	width: 25px;
}

.panel-label {
	color: black;
	font-size: 11pt;
	text-anchor: left;
}

ul.breadcrumb {
    padding: 0px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 12pt;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

th.alternate-th {
	background-color: CornflowerBlue;
	color: white;
}