<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='reporting'">
      
    <!-- Title -->
	<head> 
	    <title>Loader Issues</title> 
	</head>

	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>Reporting</li>
			<li><a href="/reporting/events">Events</a></li>
			<li><span th:text="${studyDbVersion.study.studyName} + ' version ' + ${studyDbVersion.studyDbVersionName}"/></li>
		</ul>
	</div>
		
	<!-- Content -->
    <div layout:fragment="page_content" id="page_content">
		<h2>Loader Issues</h2>
		<table class="wide">
			<tr><th>Loader Issues</th></tr>
			<tr th:each="issue : ${issues}">
				<td th:text="${issue.message}"/>
			</tr>
		</table>
    </div>
</html>