<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/base"
      th:with="currentPage='administration'">
      
    <!-- Title -->
	<head> 
	    <title>System Log</title> 
	</head>
	
	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/admin/home">Administration</a></li>
			<li>System Log</li>
		</ul>
	</div>
	
	<!-- Content -->
    <div layout:fragment="page_content" id="page_content">
    	<h2>System Log</h2>
    	
    	<div class="paginator">
    		Page
    		<a th:href="@{/admin/log(pageNum=1)}" th:if="${pageNum > 1}">&lt;</a>
    		<span th:each="page : ${pages}">
    			&nbsp;
    			<a th:href="@{/admin/log(pageNum=${page})}" th:if="${page != pageNum}" th:text="${page}"/>
    			<span th:if="${page == pageNum}" th:text="${page}"/>
    		</span>
    		&nbsp;
    		<a th:href="@{/admin/log(pageNum=${numPages})}" th:if="${pageNum < numPages}">&gt;</a>
    	</div>
    	<table class="wide">
    		<tr>
    			<th>Time</th>
    			<th>Level</th>
    			<th>Message</th>
    		</tr>
    		<tr th:each="event : ${events}">
    			<td th:text="${event.formattedDateTime}"/>
    			<td th:text="${event.levelString}"/>
    			<td th:text="${event.formattedMessage}" align="left"/>
    		</tr>
    	</table>
    </div>
</html>
