<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Search</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Browse</a></li>
			<li><a href="/search" class="active-menu-item">Search</a></li>
		</ul>
	</div>
		
    <div id="content">
   		Study
   		<select id="select_study">
   			<option value="-1">---Select---</option>
   		</select>
   		&nbsp;&nbsp;
   		Site
   		<select id="select_site" disabled="true">
   			<option value="-1">All</option>
   		</select>
   		&nbsp;&nbsp;
   		Dataset
   		<select id="select_dataset" disabled="true">
   			<option value="-1">All</option>
   		</select>
   		&nbsp;&nbsp;
   		Variable
   		<select id="select_variable" disabled="true">
   			<option value="-1">All</option>
   		</select>
   		&nbsp;&nbsp;
   		Subject ID <input type="text" id="text_subject" disabled="true"/>
   		&nbsp;&nbsp;
   		<button type="submit" disabled="true">Search</button>
    </div>
</body>
</html>
