<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Beeswarm Chart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
    <script src="/d3.min.js"></script>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/beeswarm.js"></script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Studies</a>
		>
		
		<!-- Showing all anomalies from study -->
		<span th:if="${site == null and subject == null}">
			<a th:href="@{/browse/datasets(study_id=${field.study.studyId})}" th:text="${field.study.studyName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one site -->
		<span th:if="${site}">
			<a th:href="@{/browse/sites(study_id=${site.study.studyId})}" th:text="${site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(site_id=${site.siteId})}" th:text="'Site ' + ${site.siteName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, site_id=${site.siteId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one subject -->
		<span th:if="${subject}">
			<a th:href="@{/browse/subjects(study_id=${subject.site.study.studyId})}" th:text="${subject.site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(subject_id=${subject.subjectId})}" th:text="'Subject ' + ${subject.subjectName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, subject_id=${subject.subjectId})}" th:text="${dataset.datasetName}"/>
		</span>
		>
		<strong><span th:text="${field.fieldLabel}"/></strong>
	</div>
	
	<div id="content">
		
		<div>
			<fieldset class="control-group">
				<legend>Check Parameters</legend>
				<label for="spinner_sd">Cutoff (StDev)</label>
				<input id="spinner_sd" size="2" th:value="${num_sd}"/>
				<button type="button">Apply</button>
			</fieldset>
			
			<fieldset class="control-group">
				<legend>Actions</legend>
				<button type="button" id="button_show" disabled="true">Show Data</button>
			</fieldset>
			
			<fieldset class="control-group">
				<legend>Label Data</legend>
				<select id="select_issue" disabled="true">
					<option>Not an Issue</option>
					<option>Is An Issue</option>
				</select>
				<button type="button" id="button_status" disabled="true">Apply</button>
			</fieldset>
			
			<fieldset class="control-group">
				<legend>Filter By</legend>
				<select id="select_filter">
					<option th:selected="${filter_entity} == 'none'" value="none">No Filter</option>
					<option th:selected="${filter_entity} == 'site'" value="site">Site</option>
					<option th:selected="${filter_entity} == 'subject'" value="subject">Subject</option>
				</select>
				<input type="text" size="6" id="text_filter" th:value="${filter_value}"/>
				<button type="button" id="button_filter">Apply</button>
			</fieldset>
		</div>
		
		<div>
			<svg/>
		</div>
		<h3 th:text="${field.fieldLabel}"/>
		
		<div id="dialog_data">
    		<table id="dialog_data_table" class="wide"/>
    	</div>
    	
    	<div id="dialog_progress">
    		
    	</div>
			
	</div>
    
</body>

<script th:inline="javascript">
	const url = "/rest/anomaly/data/univariate_outliers?check_run_id=" + [[${check_run_id}]];
	const fieldName = [[${field_name}]];
	const mean = parseFloat([[${mean}]]);
	const sd = parseFloat([[${sd}]]);
	const siteName = [[${site_name}]];
	const subjectName = [[${subject_name}]];
	const numSd = parseFloat([[${num_sd}]]);
	const siteFieldName = [[${site_field_name}]];
	const subjectFieldName = [[${subject_field_name}]];
	
	$(function() {
		$("#dialog_data").dialog({
			autoOpen: false,
			modal: true,
			minWidth: 800,
			buttons: [
				{
					text: "OK",
					click: function() {
						$(this).dialog("close");
					}
				}
			]
		});
	});
	
	$("#button_show").click(function() {
		data = getSelectedData();
		varNames = Object.keys(data[0]);
		varNames.splice(varNames.indexOf("anomaly_id"), 1);
		let html = "<tr>";
		for (var i in varNames) {
			html += "<th>";
			html += varNames[i];
			html += "</th>"
		}
		for (var i in data) {
			html += "<tr>"
			for (var j in varNames) {
				html += "<td>";
				html += data[i][varNames[j]];
				html += "</td>"
			}
			html += "</tr>"
		}
		html += "</tr>";
		$("#dialog_data_table").html(html);
		$("#dialog_data").dialog("open");
	});
	
	$("#button_filter").click(function() {
		setFilter($("#select_filter").val(), $("#text_filter").val());
		reDraw();
	});
	
	if (siteName != "-1") {
		setFilter("site", siteName);
	}
	else if (subjectName != "-1") {
		setFilter("subject", subjectName);
	}
	else {
		setFilter("none");
	}
	
	renderBeeswarm(url, fieldName, mean, sd, numSd, siteFieldName, subjectFieldName, function(itemsAreSelected) {
		if (itemsAreSelected) {
			$("#button_show").prop("disabled", false);
			$("#select_issue").prop("disabled", false);
			$("#button_status").prop("disabled", false);
		}
		else {
			$("#button_show").prop("disabled", true);
			$("#select_issue").prop("disabled", true);
			$("#button_status").prop("disabled", true);
		}
	});
</script>

<script>
	$("#spinner_sd").spinner({
		step: 0.25,
		numberFormat: "n",
		stop: function() {
			const sd = $("#spinner_sd").val();
			setThresholdLines(sd);
		}
	});
	
</script>
</html>