<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Beeswarm Chart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <script src="/d3.min.js"></script>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/beeswarm.js"></script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Studies</a>
		>
		
		<!-- Showing all anomalies from study -->
		<span th:if="${site == null and subject == null}">
			<a th:href="@{/browse/datasets(study_id=${field.study.studyId})}" th:text="${field.study.studyName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one site -->
		<span th:if="${site}">
			<a th:href="@{/browse/sites(study_id=${site.study.studyId})}" th:text="${site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(site_id=${site.siteId})}" th:text="'Site ' + ${site.siteName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, site_id=${site.siteId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one subject -->
		<span th:if="${subject}">
			<a th:href="@{/browse/subjects(study_id=${subject.site.study.studyId})}" th:text="${subject.site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(subject_id=${subject.subjectId})}" th:text="'Subject ' + ${subject.subjectName}"/>
			>
			<a th:href="@{/browse/fields(dataset_id=${dataset.datasetId}, subject_id=${subject.subjectId})}" th:text="${dataset.datasetName}"/>
		</span>
		>
		<strong><span th:text="${field.fieldName}"/></strong>
		
		<div>
			<svg/>
		</div>
			
	</div>
    
</body>

<script th:inline="javascript">
	const url = "/rest/anomaly/data/univariate_outliers?check_run_id=" + [[${check_run_id}]];
	const fieldName = [[${field_name}]];
	const mean = parseFloat([[${mean}]]);
	const sd = parseFloat([[${sd}]]);
	const siteName = [[${site_name}]];
	const subjectName = [[${subject_name}]];
	const numSd = parseFloat([[${num_sd}]]);
	const siteFieldName = [[${site_field_name}]];
	const subjectFieldName = [[${subject_field_name}]];
	renderBeeswarm(url, fieldName, mean, sd, numSd, siteName, subjectName, siteFieldName, subjectFieldName);
</script>
</html>