<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Beeswarm Chart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <link rel="icon" type="image/png" href="/images/rover-favicon.png" />
    <script src="/d3.min.js"></script>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/beeswarm.js"></script>
    
    <script src="/jquery.contextMenu.min.js"></script>
    <script src="/jquery.ui.position.min.js"></script>
    <link rel="stylesheet" href="/jquery.contextMenu.min.css"/>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

	<!-- Bread crumbs -->
	<div id="breadcrumbs">
		<a href="/browse/studies">Studies</a>
		>
		
		<!-- Showing all anomalies from study -->
		<span th:if="${site == null and subject == null}">
			<a th:href="@{/browse/datasets(study_id=${field.study.studyId})}" th:text="${field.study.studyName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one site -->
		<span th:if="${site}">
			<a th:href="@{/browse/sites(study_id=${site.study.studyId})}" th:text="${site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(site_id=${site.siteId})}" th:text="'Site ' + ${site.siteName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, site_id=${site.siteId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one subject -->
		<span th:if="${subject}">
			<a th:href="@{/browse/subjects(study_id=${subject.site.study.studyId})}" th:text="${subject.site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(subject_id=${subject.subjectId})}" th:text="'Subject ' + ${subject.subjectName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, subject_id=${subject.subjectId})}" th:text="${dataset.datasetName}"/>
		</span>
		>
		<strong><span th:text="${field.fieldLabel}"/></strong>
	</div>
	<!-- End bread cumbs -->
	
	<!-- Main content -->
	<div id="content">
	
		<!-- Tabs -->
		<div id="tabs">
			<ul>
				<li><a href="#check_params">Data Check Settings</a></li>
				<li><a href="#view">View</a></li>
				<li><a href="#actions">Actions On Selected Data</a></li>
			</ul>
			<div id="check_params">
				<img id="img_boundary" src="/images/info.png" width="20" height="20" 
   				title="Numer of standard deviations from the mean above which a value is considered an outlier. (Current value shown as vertical dashed lines in chart). Changes to this setting will only be applied to this variable. Pressing Apply button will trigger an immediate run of the data check with the specified setting, which will also be saved and used in future data check runs."
   				/>
				<label for="spinner_sd">Outlier Boundary (stdev from mean)</label>
				<input id="spinner_sd" size="2" th:value="${num_sd}"/>
				<button type="button" id="button_boundary">Apply</button>
			</div>
			
			<div id="view">
				<button type="button" id="button_options">Chart Options</button>
				<button type="button" id="button_charts">Other Charts</button>
			</div>
			
			<div id="actions">
				<button type="button">Show Data</button>
				<button type="button">Add to Query List</button>
				&nbsp;&nbsp;&nbsp;
				Label Data
				<select>
					<option>Is an Issue</option>
					<option>Not an Issue</option>
				</select>
				<button type="button">Save Label</button>
			</div>
		</div>
		<!-- End tabs -->
		
		<!-- Chart -->
		<div>
			<svg/>
		</div>

		<!-- X-axis label -->
		<h3 th:text="${field.fieldLabel}"/>
	</div>
	<!-- End main content -->
		
	<!-- Dialogs -->
	<div>
	
		<!-- Dialog for showing data selected by user -->
		<div id="dialog_data">
    		<table id="dialog_data_table" class="wide"/>
    	</div>
    	
    	<!-- Dialog for navigating to other charts -->
    	<div id="dialog_charts">
    		<table class="invisible">
    			<tr>
    				<td>
    				 	<img src="/images/scatterplot.png"/>
    				</td>
    				<td>
    					Plot relationship with second variable (scatter plot)
    					<p>
		    				<input type="text" value="Enter second variable" class="input_hint"/>
		    				<button type="button">Go</button>
		    			</p>
    				</td>
    			</tr>
    			
    			<tr>
    				<td>
    					<img src="/images/longitudinalplot.png"/>
    				</td>
    				<td>
	    				Plot longitudinally across visits (time series)
	    				<button type="button">Go</button>
    				</td>
    			</tr>
    			
    			<tr>
    				<td>
    					<img src="/images/violinplot.png"/>
    				</td>
    				<td>
    					Plot with other variables in same chart (violin plots)
    					<button type="button">Go</button>
    				</td>
    			</tr>
    		</table>
    	</div>
    	
    	<!-- Chart options dialog -->
    	<div id="dialog_controls" style="text-align: center;">
    		<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Data Filters</legend>
				<table class="invisible">
					<tr>
						<th th:text="${site_field_name}"/>
						<th th:text="${phase_field_name}"/>
					</tr>
					<tr>
						<td>
							<select multiple="true" id="filter_site">
								<option th:each="site : ${sites}" th:text="${site.siteName}"/>
							</select>
						</td>
						<td>
							<select multiple="true" id="filter_phase">
								<option th:each="phase : ${phases}" th:text="${phase.phaseName}"/>
							</select>
						</td>
					</tr>
				</table>
				<p><button type="button" id="filter_remove">Remove All</button></p>
			</fieldset>
			
			<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Group Data By</legend>
				<table class="grid">
					<tr>
						<td><input type="radio" name="group_by" value="none" checked="true"/></td>
						<td align="left">Do not group</td>
					</tr>
				 	<tr>
						<td><input type="radio" name="group_by" value="site"/></td>
						<td align="left" th:text="${site_field_name}"/>
					</tr>
					<tr>
						<td><input type="radio" name="group_by" value="phase"/></td>
						<td align="left" th:text="${phase_field_name}"/>
					</tr>
				</table>
			</fieldset>
			
			<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Highlight Data</legend>
				<table class="invisible">
					<tr>
						<th th:text="${site_field_name}"/>
						<th th:text="${phase_field_name}"/>
					</tr>
					<tr>
						<td>
							<select multiple="true">
								<option th:each="site : ${sites}" th:text="${site.siteName}"/>
							</select>
						</td>
						<td>
							<select multiple="true">
								<option th:each="phase : ${phases}" th:text="${phase.phaseName}"/>
							</select>
						</td>
					</tr>
				</table>
				
				<p>
					<span th:text="${subject_field_name}"/>
					<input type="text" id="input_subject"/>
				</p>
				
				<p><button type="button">Remove All</button></p>
			</fieldset>
			
		</div>
		<!-- End chart options dialog -->
		
	</div>
    <!-- End dialogs -->
</body>

<!-- Script to initialize Javascript variables -->
<script th:inline="javascript">
	const url = "/rest/anomaly/data/univariate_outliers?check_run_id=" + [[${check_run_id}]];
	const mean = parseFloat([[${mean}]]);
	const sd = parseFloat([[${sd}]]);
	const siteName = [[${site_name}]];
	const subjectName = [[${subject_name}]];
	const numSd = parseFloat([[${num_sd}]]);
	const siteFieldName = [[${site_field_name}]];
	const phaseFieldName = [[${phase_field_name}]];
	const subjectFieldName = [[${subject_field_name}]];
	const studyId = [[${field.study.studyId}]];
	const datasetName = [[${dataset.datasetName}]];
	const datasetId = [[${dataset.datasetId}]];
	const fieldName1 = [[${field.fieldName}]];
	
	// TODO: Consider consolidating this variable with fieldName1 below
	const fieldName = [[${field_name}]];
</script>

<!-- Interactity scripts -->
<script>

	function onFilterChange() {
		const sites = $("#filter_site").val();
		const phases = $("#filter_phase").val();
		const filters = {};
		if (sites.length > 0) {
			filters[siteFieldName] = sites;
		}
		if (phases.length > 0) {
			filters[phaseFieldName] = phases;
		}
		console.log(JSON.stringify(filters));
	}

	function initializeFilters() {
		$("#filter_site").click(function() {
			onFilterChange();
		});
		
		$("#filter_phase").click(function() {
			onFilterChange();
		});
		
		$("#filter_remove").click(function() {
			$("#filter_site").val("");
			$("#filter_phase").val("");
			onFilterChange();
		});
	}

	/**
	 * Initialize dialogs
	 */
	function initializeDialogs() {
		
		// Dialog for displaying user-selected data
		$("#dialog_data").dialog({
			autoOpen: false,
			modal: true,
			minWidth: 800,
			buttons: [
				{
					text: "OK",
					click: function() {
						$(this).dialog("close");
					}
				}
			]
		});
		
		// Plot contorol dialog
		$("#dialog_controls").dialog({
			autoOpen: false,
			modal: false,
			minWidth: 500,
			title: "Chart Options",
			buttons: [
				{
					text: "OK",
					click: function() {
						$(this).dialog("close");
					}
				}
			]
		});
		
		$("#dialog_charts").dialog({
			autoOpen: false,
			modal: true,
			minWidth: 700,
			title: "Other Charts"
		});
	}
	
	/**
	 * Initialize widgets
	 */
	function initializeWidgets() {
		$("#img_boundary").tooltip();
		
		$("#button_options").click(function() {
			$("#dialog_controls").dialog("open");
		});
		
		$("#button_charts").click(function() {
			$("#dialog_charts").dialog("open");
		});
		
		$("#spinner_sd").spinner({
			step: 0.25,
			numberFormat: "n",
			stop: function() {
				const sd = $("#spinner_sd").val();
				setThresholdLines(sd);
			}
		});
		
		/*
		$("#button_show").click(function() {
			data = getSelectedData();
			varNames = Object.keys(data[0]);
			varNames.splice(varNames.indexOf("anomaly_id"), 1);
			let html = "<tr>";
			for (var i in varNames) {
				html += "<th>";
				html += varNames[i];
				html += "</th>"
			}
			for (var i in data) {
				html += "<tr>"
				for (var j in varNames) {
					html += "<td>";
					html += data[i][varNames[j]];
					html += "</td>"
				}
				html += "</tr>"
			}
			html += "</tr>";
			$("#dialog_data_table").html(html);
			$("#dialog_data").dialog("open");
		});
		
		$("#button_filter").click(function() {
			setFilter($("#select_filter").val(), $("#text_filter").val());
			reDraw();
		});
		
		$("#text_second_field").autocomplete({
			minLength: 4,
			source: function(request, response) {
				const url = "/rest/admin/study/get_matching_field_instances?study_id="
					+ studyId + "\u0026term=" + request.term;
				$.get(url)
					.done(function(data) {
						response(data);
					})
					.fail(function() {
						console.log("Error");
					});
			},
			select: function(event, ui) {

				// Extract field and dataset name from search box.
				// Autocomplete will have inserted text in the following format:
				// FIELD_LABEL (FIELD_NAME) [DATASET_NAME]
				const value = ui.item.value;
				const namePatt = new RegExp("\\(.*\\)");
				const fieldNameField = namePatt.exec(value);
				const datasetPatt = new RegExp("\\[.*\\]");
				const datasetField = datasetPatt.exec(value);

				// TODO: Add logic to deal with invalid variables
				const fieldName2 = fieldNameField[0].substring(1, fieldNameField[0].length - 1);
				const datasetName2 = datasetField[0].substring(1, datasetField[0].length - 1);
				
				const url = "/anomaly/bivariate_scatter?" +
						"field_name_1=" + fieldName1 + "\u0026" +
						"dataset_name_1=" + datasetName + "\u0026" +
						"field_name_2=" + fieldName2 + "\u0026" +
						"dataset_name_2=" + datasetName2 + "\u0026" +
						"dataset_id=" + datasetId;
				window.location = url;
			}
		});
		
		*/
	}
	
	$(function() {
		initializeDialogs();
		initializeWidgets();
		initializeFilters();
		
		$("#tabs").tabs();
		
		// Set filters within beeswarm
		if (siteName != "-1") {
			setFilter("site", siteName);
		}
		else if (subjectName != "-1") {
			setFilter("subject", subjectName);
		}
		else {
			setFilter("none");
		}
		
		renderBeeswarm(url, fieldName, mean, sd, numSd, siteFieldName, subjectFieldName, function(itemsAreSelected) {
			if (itemsAreSelected) {
				$("#button_show").prop("disabled", false);
				$("#select_issue").prop("disabled", false);
				$("#button_status").prop("disabled", false);
			}
			else {
				$("#button_show").prop("disabled", true);
				$("#select_issue").prop("disabled", true);
				$("#button_status").prop("disabled", true);
			}
		});
		
		$.contextMenu({
			selector: "svg",
			items: {
				"show": {name: "Show Data", icon: "fa-eye"},
				"query": {name: "Add to Query List", icon: "fa-list"},
				"notissue": {name: "Label Not an Issue", icon: "fa-check-circle"},
			},
			callback: function(key, options) {
				const message = "clicked " + key;
				console.log(message);
			}
		});
	});
	
	
	
	
	
	
</script>

</html>