<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Anomaly Table</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Studies</a>
		>
		
		<!-- Showing all anomalies from study -->
		<span th:if="${site == null and subject == null}">
			<a th:href="@{/browse/datasets(study_id=${field.study.studyId})}" th:text="${field.study.studyName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one site -->
		<span th:if="${site}">
			<a th:href="@{/browse/sites(study_id=${site.study.studyId})}" th:text="${site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(site_id=${site.siteId})}" th:text="'Site ' + ${site.siteName}"/>
			>
			<a th:href="@{/browse/data_fields(dataset_id=${dataset.datasetId}, site_id=${site.siteId})}" th:text="${dataset.datasetName}"/>
		</span>
		
		<!-- Showing anomalies from one subject -->
		<span th:if="${subject}">
			<a th:href="@{/browse/subjects(study_id=${subject.site.study.studyId})}" th:text="${subject.site.study.studyName}"/>
			>
			<a th:href="@{/browse/datasets(subject_id=${subject.subjectId})}" th:text="'Subject ' + ${subject.subjectName}"/>
			>
			<a th:href="@{/browse/fields(dataset_id=${dataset.datasetId}, subject_id=${subject.subjectId})}" th:text="${dataset.datasetName}"/>
		</span>
		>
		<strong><span th:text="${field.fieldName}"/></strong>
	</div>
		
    <div id="content">
   		<p>
   		   	For selected rows:
	    	<button type="button">Export Data</button>
	    	<button type="button">Open Query</button>&nbsp;&nbsp;&nbsp;
	    	<select>
	    		<option>Is an issue</option>
	    		<option>Not an issue</option>
	    	</select>
	    	<button type="button">Change</button>&nbsp;&nbsp;&nbsp;
	    	<input type="text" size="2"/>
	    	<select>
	    		<option>Days</option>
	    		<option>Weeks</option>
	    		<option>Months</option>
	    	</select>
	    	<button type="button">Suppress</button>
	    </p>
   		<table class="wide">
   			<tr>
   				<th th:each="id_field : ${id_fields}" th:text="${id_field.fieldName}"/>
   				<th th:text="${field.fieldName}"/>
   			</tr>
   			<tr th:each="anomaly : ${anomalies}">
   				<td th:each="id_field : ${id_fields}" th:text="${anomaly.idFieldNamesAndValues.get(id_field.fieldName)}"/>
   				<td th:text="${anomaly.anomalousValue}"/>
   			</tr>
   		</table>
    </div>
</body>
</html>