<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/" class="active-menu-item">Home</a></li>
			<li><a href="/browse/studies">Browse by Study</a></li>
			<li><a href="#">Browse by Key Variable</a></li>
			<li><a href="/search/form">Search</a></li>
		</ul>
	</div>
		
    <div class="content-left-align">
    	<p>
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue velit sem,
    	at scelerisque quam dapibus vel. Donec sit amet risus ante. Quisque rhoncus ultrices
    	mauris in convallis. Etiam luctus augue quis metus maximus, sit amet egestas mi vulputate.
    	Suspendisse potenti. Nulla ut tempor leo. Nullam ultrices nunc sit amet ante vestibulum,
    	sit amet sollicitudin dui iaculis. Quisque fringilla enim ante, vel congue magna
    	malesuada vitae. Donec accumsan mi eu elit sollicitudin, eu consectetur velit convallis.
    	Duis blandit euismod lorem at mattis. Praesent vitae ipsum faucibus, maximus massa ut,
    	congue dui. Vestibulum sed orci id nisl venenatis pretium eu sit amet magna.
    	</p>
    	<p>
    	Etiam blandit accumsan enim, id finibus turpis ultrices sed. Etiam dignissim non ante
    	vel pellentesque. Quisque in odio at arcu eleifend semper eu quis felis. Quisque nec
    	neque in tortor tristique hendrerit eget in erat. Aenean vitae porta lacus. Sed sed
    	ex volutpat leo cursus elementum. Pellentesque dictum augue ut neque tristique, a
    	auctor metus lacinia. Duis hendrerit turpis enim, sed malesuada nunc dignissim a.
    	Maecenas placerat sapien ut diam dictum, vel convallis metus facilisis. Vestibulum vitae
    	gravida mauris, ac commodo nunc.
    	</p>
    </div>
</body>
</html>
