<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Configure Studies</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div class="menu-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse/studies">Browse</a></li>
			<li><a href="/search/form">Search</a></li>
			<li><a href="/configuration/studies" class="active-menu-item">Configuration</a></li>
		</ul>
	</div>
		
    <div id="content">
   		<h2>Configure Studies</h2>
   		<table class="wide">
   			<tr>
   				<th>Study</th>
   				<th>Folders</th>
   			</tr>
   			<tr th:each="study : ${studies}">
   				<td th:text="${study.studyName}"/>
   				<td>
   					<div th:each="folder : ${study.studyFolders}" th:text="${folder.folderPath}"/>
   				</td>
   			</tr>
   		</table>
    </div>
</body>
</html>
