<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='data'">
      
	<head> 
	    <title>Scatter Plot</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/d3.min.js"></script>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	    <script src="/page/bivariate_scatter.js"></script>
	</head>

	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/anomaly/global_summary">All Anomalies</a></li>
			<li><a th:href="@{/anomaly/study_summary(study_id=${dataset.study.studyId})}" th:text="${dataset.study.studyName}"/></li>
			<li><a th:href="@{/anomaly/dataset_summary(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/></li>
			<li>
				<span th:text="${fieldInstance1.field.displayName}"/> X
				<span th:text="${fieldInstance2.field.displayName}"/>
			</li>
		</ul>
	</div>
	
	<!-- Content -->
	<div layout:fragment="page_content" id="page_content">
		<div>
			<label for="spinner_sd_residual">SD from line</label>
			<input id="spinner_sd_residual" size="2" th:value="${sd_residual}"/>
			<label for="spinner_sd_density">SD below mean density</label>
			<input id="spinner_sd_density" size="2" th:value="${sd_density}"/>
			<label for="spinner_neighbors">Neighbors used for density</label>
			<input id="spinner_neighbors" size="2" th:value="${num_nearest_neighbors}"/>
			<button type="button">Apply</button>
		</div>
		<div id="chart"/>
	</div>

	<!-- Scripts -->
	<th:block layout:fragment="scripts">
	
		<script th:inline="javascript">
	    	fieldInstanceId1 = [[${fieldInstance1.fieldInstanceId}]];
	    	fieldInstanceId2 = [[${fieldInstance2.fieldInstanceId}]];
	    	const url = "/rest/anomaly/data/bivariate_outliers?check_run_id=" + [[${check_run_id}]];
	    	const fieldName1 = [[${field_name_1}]];
	    	const fieldName2 = [[${field_name_1}]];
	    	const slope = parseFloat([[${slope}]]);
	    	const intercept = parseFloat([[${intercept}]]);
	    	let cutoffResidual = parseFloat([[${cutoff_residual}]]);
	    	const sdRes = parseFloat([[${sd_res}]]);
	    	const heteroschedastic = [[${heteroschedastic}]];
	    	const lambda = [[${lambda}]];
	    </script>
	
		<script>
			function onSdResidualChange() {
				const sd = parseFloat($("#spinner_sd_residual").val());
				cutoffResidual = sd * sdRes;
				drawHeteroschedasticThresholds();
			}
			
			function onSdDensityChange() {
				
			}
			
			function onNeighborsChange() {
				
			}
			
			$("#spinner_sd_residual").spinner({
				step: 0.25,
				numberFormat: "n",
				stop: function() {
					onSdResidualChange();
				}
			});
			
			$("#spinner_sd_density").spinner({
				step: 0.25,
				numberFormat: "n",
				stop: function() {
					onSdDensityChange();
				}
			});
			
			$("#spinner_neighbors").spinner({
				step: 1,
				numberFormat: "n",
				stop: function() {
					onNeighborsChange();
				}
			});
		</script>
	</th:block>
</html>