<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base"
      th:with="currentPage='data'">
	<head>
	    <title>Beeswarm Chart</title> 
	    <link rel="stylesheet" href="/jquery-ui.css"/>
	    <script src="/d3.min.js"></script>
	    <script src="/jquery-3.2.1.min.js"></script>
	    <script src="/jquery-ui.js"></script>
	    <script src="/chart/beeswarm.js"></script>
	    <script src="/page/univariate_beeswarm.js"></script>
	    <script src="/jquery.contextMenu.min.js"></script>
	    <script src="/jquery.ui.position.min.js"></script>
	    <link rel="stylesheet" href="/jquery.contextMenu.min.css"/>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>


	<!-- Breadcrumbs -->
	<div layout:fragment="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><a href="/anomaly/global_summary">All Anomalies</a></li>
			<li><a th:href="@{/anomaly/study_summary(study_id=${dataset.study.studyId})}" th:text="${dataset.study.studyName}"/></li>
			<li><a th:href="@{/anomaly/dataset_summary(dataset_id=${dataset.datasetId})}" th:text="${dataset.datasetName}"/></li>
			<li th:text="${field.fieldName}"/>
		</ul>
	</div>
	
	<!-- Main content -->
	<div layout:fragment="page_content" id="page_content">
	
		<div class="container">
			<div id="filters_bar" class="container"></div>
			<div id="highlights_bar" class="container"></div>
			<div id="groupby_bar" class="container"></div>
		</div>
		
		<!-- Data check parameters -->
		<div th:if="${check_run_id} != -1">
			<img id="img_boundary" src="/images/info.png" width="20" height="20" 
				title="Numer of standard deviations from the mean above which a value is considered an outlier. (Current value shown as vertical dashed lines in chart). Changes to this setting will only be applied to this variable. Pressing Apply button will trigger an immediate run of the data check with the specified setting, which will also be saved and used in future data check runs."
				/>
			<label for="spinner_sd">Outlier Boundary (stdev from mean)</label>
			<input id="spinner_sd" size="2" th:value="${num_sd}"/>
			<button type="button" id="button_boundary">Apply</button>
		</div>
	
		<!-- Chart -->
		<div>
			<svg></svg>
		</div>

		<!-- X-axis label -->
		<h3 th:text="${field.fieldLabel}"></h3>
	</div>
	<!-- End main content -->
		
	<!-- Dialogs -->
	<div layout:fragment="dialogs" id="dialogs">
	
		<!-- Dialog for showing data selected by user -->
		<div id="dialog_data">
    		<table id="dialog_data_table" class="wide"></table>
    	</div>
    	
    	<!-- Dialog for navigating to other charts -->
    	<div id="dialog_charts">
    		<table class="invisible">
    			<tr>
    				<td>
    				 	<img src="/images/scatterplot.png"/>
    				</td>
    				<td>
    					Plot relationship with second variable (scatter plot)
    					<p>
		    				<input type="text" value="Enter second variable" class="input_hint"
		    					id="text_second_field"
		    				/>
		    				<button type="button" id="button_scatter">Go</button>
		    			</p>
    				</td>
    			</tr>
    		</table>
    	</div>
    	
    	<!-- Chart options dialog -->
    	<div id="dialog_controls" style="text-align: center;">
    		<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Data Filters</legend>
				<table class="invisible">
					<tr>
						<th th:text="${site_field_name}"/>
						<th th:text="${phase_field_name}"/>
					</tr>
					<tr>
						<td>
							<select multiple="true" id="filter_site" th:name="'filter-' + ${site_field_name}">
								<option th:each="site : ${sites}" th:text="${site.siteName}"/>
							</select>
						</td>
						<td>
							<select multiple="true" id="filter_phase" th:name="'filter-' + ${phase_field_name}">
								<option th:each="phase : ${phases}" th:text="${phase.phaseName}"/>
							</select>
						</td>
					</tr>
				</table>
				<p><button type="button" id="filter_remove">Remove All</button></p>
			</fieldset>
			
			<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Group Data By</legend>
				<table class="grid">
					<tr>
						<td><input type="radio" name="group_by" value="none" checked="true"/></td>
						<td align="left">Do not group</td>
					</tr>
				 	<tr>
						<td><input type="radio" name="group_by" th:value="${site_field_name}"/></td>
						<td align="left" th:text="${site_field_name}"/>
					</tr>
					<tr>
						<td><input type="radio" name="group_by" th:value="${phase_field_name}"/></td>
						<td align="left" th:text="${phase_field_name}"/>
					</tr>
				</table>
			</fieldset>
			
			<fieldset style="margin: 20px; background-color: #f6f6f6; border: 1px solid black;">
				<legend style="font-weight: bold;">Highlight Data</legend>
				<table class="invisible">
					<tr>
						<th th:text="${site_field_name}"/>
						<th th:text="${phase_field_name}"/>
					</tr>
					<tr>
						<td>
							<select multiple="true" id="highlight_site" th:name="'highlight-' + ${site_field_name}">
								<option th:each="site : ${sites}" th:text="${site.siteName}"/>
							</select>
						</td>
						<td>
							<select multiple="true" id="highlight_phase" th:name="'highlight-' + ${phase_field_name}">
								<option th:each="phase : ${phases}" th:text="${phase.phaseName}"/>
							</select>
						</td>
					</tr>
				</table>
				<p><button type="button" id="highlight_remove">Remove All</button></p>
			</fieldset>
			
		</div>
		<!-- End chart options dialog -->
		
	</div>
    <!-- End dialogs -->

	<!-- Scripts -->
	<th:block layout:fragment="scripts">
	
		<!-- Script to initialize Javascript variables -->
		<script th:inline="javascript">
			const url = "/rest/chart/univariate_data?field_instance_id=" + [[${field_instance.fieldInstanceId}]];			
			const siteFieldName = [[${site_field_name}]];
			const phaseFieldName = [[${phase_field_name}]];
			const subjectFieldName = [[${subject_field_name}]];
			const recordIdFieldName = [[${record_id_field_name}]];
			const studyId = [[${field.study.studyId}]];
			const datasetName = [[${dataset.datasetName}]];
			const datasetId = [[${dataset.datasetId}]];
			const fieldName1 = [[${field.fieldName}]];
			const fieldDisplayName = [[${field.displayName}]];
			const recordId = [[${record_id}]];
			const checkRunId = parseInt([[${check_run_id}]]);
		</script>
		
		<script th:if="${check_run_id} != -1" th:inline="javascript">
			const mean = parseFloat([[${mean}]]);
			const sd = parseFloat([[${sd}]]);
			const numSd = parseFloat([[${num_sd}]]);
		</script>
	</th:block>
</html>