<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Beeswarm Chart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <link rel="stylesheet" href="/jquery-ui.css"/>
    <script src="/d3.min.js"></script>
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
	
	<div id="breadcrumbs">
		<a href="/browse/studies">Browse by Study</a> >
		<a th:href="@{/browse/datasets(study_id=${data_field.dataset.study.studyId})}"><span th:text="${data_field.dataset.study.studyName}"/></a> >
		<a th:href="@{/browse/data_fields(dataset_id=${data_field.dataset.datasetId})}"><span th:text="${data_field.dataset.datasetName}"/></a> >
		<strong><span th:text="${data_field.dataFieldName}"/></strong>
	</div>
		
    <div id="content">
    	<button type="button" id="button_save" disabled="true" onclick="onSave()">Save Boundaries</button>
    	<button type="button" id="button_show" disabled="true" onclick="onExport()">Show Data</button>
    	<button type="button" id="button_query" disabled="true">Open Query</button>&nbsp;&nbsp;&nbsp;
    	<select id="select_label">
    		<option value="issue">Is an issue</option>
    		<option value="non-issue">Not an issue</option>
    	</select>
    	<button type="button" id="button_change" disabled="true" onclick="onChange()">Change</button>&nbsp;&nbsp;&nbsp;
    	<input type="text" size="2"/>
    	<select>
    		<option>Days</option>
    		<option>Weeks</option>
    		<option>Months</option>
    	</select>
    	<button type="button" id="button_suppress" disabled="true">Suppress</button>
    	<svg/>
    	<h3><span th:text="${data_field.dataFieldName}"/></h3>
    </div>
    
    <div id="dialog_data">
    	<div id="dialog_data_table"></div>
    </div>
</body>
<script th:inline="javascript">
	dataFieldName = [[${data_field.dataFieldName}]]
	dataFieldId = [[${data_field.dataFieldId}]]
	lowerThreshold = [[${data_field.lowerThreshold}]]
	upperThreshold = [[${data_field.upperThreshold}]]
</script>

<script src="/beeswarm.js"></script>

<script>
	$(function() {
		$("#dialog_data").dialog({
			autoOpen: false,
			modal: true,
			minWidth: 600,
			buttons: [
				{
					text: "OK",
					click: function() {
						$(this).dialog("close");
					}
				}
			]
		});
	});
</script>
</html>