<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Anomaly Chart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
    <script src="/d3.min.js"></script>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
		
    <div id="content">
    	<h2><span th:text="${data_field_name}"/> Anomalies</h2>
    	<svg width="800" height = "400"/>	
    </div>
</body>
<script th:inline="javascript">
	dataFieldName = [[${data_field_name}]]
	dataFieldId = [[${data_field_id}]]
</script>

<script src="/beeswarm.js"></script>
</html>