<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>RhoVer Data Fields</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/rhover.css"/>
</head>
<body>
	<div class="page-header">RhoVer (Prototype)</div>
		
    <div id="content">
    		<h2><span th:text="${dataset_name}"/> Fields</h2>
    		<table class="wide">
    			<tr>
    				<th>Field</th>
    				<th>Un-Viewed Anomalies</th>
    				<th>Total Anomalies</th>
    				<th>View</th>
    			</tr>
    			<tr th:each="summary : ${summaries}">
    				<td>
    					<span th:text="${summary.entityName}"/>
    				</td>
    				<td th:text="${summary.numAnomalies}"/>
    				<td th:text="${summary.numUnviewedAnomalies}"/>
    				<td>
    					<a th:href="@{/anomaly/table(data_field_id=${summary.entityId},data_field_name=${summary.entityName})}">Table</a> |
    					<a th:href="@{/anomaly/chart(data_field_id=${summary.entityId},data_field_name=${summary.entityName})}">Chart</a>
    				</td>
    			</tr>
    		</table>
    </div>
</body>
</html>